
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
            <h5 class="text-white op-7 mb-2">Sistem Monitoring Kekeringan dan Kesehatan Tebu PTPN X</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">

      <div class="row mt--2">
        <div class="col-md-4">
          <div class="card full-height">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">CWSI</div>
                <div class="card-tools">
                  <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-database-tab" data-toggle="pill" href="#pills-database" role="tab" aria-selected="true">Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-input-tab" data-toggle="pill" href="#pills-input" role="tab" aria-selected="false">Input</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-database" role="tabpanel" aria-labelledby="pills-database-tab">
                <div class="card-body">
                  <div class="table-responsive">
                      <table id="add-row" class="display table table-striped table-hover" style="margin-top: -15px !important;">
                          <thead>
                              <tr>
                                  <th>Tanggal</th>
                                  <th style="width: 10%; text-align: center;">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for data in cwsi %}
                            <tr>
                              <td>{{data[1]}}</td>
                              <td>
                                <div class="form-button-action">
                                  <button type="button" id="alert_demo_1" data-toggle="modal" data-target="#cwsi-id{{data[0]}}" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Lihat">
                                      <i class="fa fa-eye"></i>
                                  </button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="cwsi-id{{data[0]}}" tabindex="-1" role="dialog" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header no-bd">
                                              <h4 class="modal-title">
                                                  Estimasi CWSI tanggal {{data[1]}}
                                              </h4>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                            <div class="row">
                                              <div class="col-md-6" style="padding-right: 7.5px;">
                                                <img src="{{data[2]}}" alt="" style="width: 100%;">
                                              </div>
                                              <div class="col-md-6" style="padding-left: 7.5px;">
                                                <img src="/static/assets/img/Kebun_Original_Fix.jpg" alt="" style="width: 100%;">
                                                <br><br>
                                                <h5>Luas area kekeringan:</h5>
                                                <p><strong>{{"{:.2f}".format(data[3]*900/10000)}} ha</strong></p>
                                                <h5>Luas area water stress:</h5>
                                                <p><strong>{{"{:.2f}".format((data[3]+data[4])*900/10000)}} ha</strong></p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="modal-footer no-bd">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-input" role="tabpanel" aria-labelledby="pills-input-tab">
                <form method="POST" enctype="multipart/form-data" action="">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="">File Metadata</label>
                      <input type="file" class="form-control-file" id="fileMetadata" name="fileMetadata">
                    </div>
                    <div class="form-group">
                      <label for="">Citra Band 4</label>
                      <input type="file" class="form-control-file" id="band4" name="band4">
                    </div>
                    <div class="form-group">
                      <label for="">Citra Band 5</label>
                      <input type="file" class="form-control-file" id="band5" name="band5">
                    </div>
                    <div class="form-group">
                      <label for="">Citra Band 10</label>
                      <input type="file" class="form-control-file" id="band10" name="band10">
                    </div>
                    <div class="form-group">
                      <label for="">Citra Band 11</label>
                      <input type="file" class="form-control-file" id="band11" name="band11">
                    </div>
                    <div class="form-group">
                      <label for="">File Water Vapor</label>
                      <input type="file" class="form-control-file" id="fileWaterVapor" name="fileWaterVapor">
                    </div>
                  </div>
                  <div class="card-action">
                    <button class="btn btn-success" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-4">
              <div class="card full-height">
                  <div class="card-body p-3 text-center">
                      <div class="text-right text-white">
                          0%
                          <i class="fa fa-chevron-up"></i>
                      </div>
                      <div class="h1 m-0">300 ha</div>                
                      <div class="text-muted mb-3">Lahan Irigasi Tebu</div>
                  </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                  <div class="card-body p-3 text-center">
                      {% if red_pixel_percent > 0 %}
                      <div class="text-right text-danger">
                          {{red_pixel_percent}}%
                          <i class="fa fa-chevron-up"></i>
                      </div>                      
                      {% else %}
                      <div class="text-right text-success">
                          {{red_pixel_percent}}%
                          <i class="fa fa-chevron-down"></i>
                      </div>
                      {% endif %}
                      <div class="h1 m-0">{{last_two_month[0][3]}}</div>
                      <div class="text-muted mb-3">Titik Kekeringan</div>
                  </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                  <div class="card-body p-3 text-center">
                      {% if drought_area_percent > 0 %}
                      <div class="text-right text-danger">
                          {{drought_area_percent}}%
                          <i class="fa fa-chevron-up"></i>
                      </div>                      
                      {% else %}
                      <div class="text-right text-success">
                        {{drought_area_percent}}%
                        <i class="fa fa-chevron-down"></i>
                      </div>
                      {% endif %}
                      <div class="h1 m-0">{{"{:.2f}".format((last_two_month[0][3]+last_two_month[0][4])*900/10000)}} ha</div>
                      <div class="text-muted mb-3">Area Water Stress</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="">
                <img src="/static/assets/img/Kebun_Original_Fix.jpg" alt="" style="width: 100%;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                <div class="card-head-row">
                  <div class="card-title">Grafik CWSI</div>
                  <div class="card-tools">
                    <ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="pills-lahanA-tab" data-toggle="pill" href="#pills-lahanA" role="tab" aria-selected="true">Lahan A</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="pills-lahanB-tab" data-toggle="pill" href="#pills-lahanB" role="tab" aria-selected="false">Lahan B</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>`
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-lahanA" role="tabpanel" aria-labelledby="pills-lahanA-tab">
                  <div class="card-body">
                    <div class="chart-container">
                      <canvas id="multipleLineChart"></canvas>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-lahanB" role="tabpanel" aria-labelledby="pills-lahanB-tab">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos laboriosam assumenda velit eum sed repellendus, commodi dolore reiciendis fugit cumque unde voluptas a quos facilis excepturi, adipisci dicta? Vel, fugit?</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- <div class="row mt--2">
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Overall statistics</div>
              <div class="card-category">Daily information about statistics in system</div>
              <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-1"></div>
                  <h6 class="fw-bold mt-3 mb-0">New Users</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-2"></div>
                  <h6 class="fw-bold mt-3 mb-0">Sales</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-3"></div>
                  <h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Total income & spend statistics</div>
              <div class="row py-3">
                <div class="col-md-4 d-flex flex-column justify-content-around">
                  <div>
                    <h6 class="fw-bold text-uppercase text-success op-8">Total Income</h6>
                    <h3 class="fw-bold">$9.782</h3>
                  </div>
                  <div>
                    <h6 class="fw-bold text-uppercase text-danger op-8">Total Spend</h6>
                    <h3 class="fw-bold">$1,248</h3>
                  </div>
                </div>
                <div class="col-md-8">
                  <div id="chart-container">
                    <canvas id="totalIncomeChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">User Statistics</div>
                <div class="card-tools">
                  <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                    <span class="btn-label">
                      <i class="fa fa-pencil"></i>
                    </span>
                    Export
                  </a>
                  <a href="#" class="btn btn-info btn-border btn-round btn-sm">
                    <span class="btn-label">
                      <i class="fa fa-print"></i>
                    </span>
                    Print
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container" style="min-height: 375px">
                <canvas id="statisticsChart"></canvas>
              </div>
              <div id="myChartLegend"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <div class="card-title">Daily Sales</div>
              <div class="card-category">March 25 - April 02</div>
            </div>
            <div class="card-body pb-0">
              <div class="mb-4 mt-2">
                <h1>$4,578.58</h1>
              </div>
              <div class="pull-in">
                <canvas id="dailySalesChart"></canvas>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body pb-0">
              <div class="h1 fw-bold float-right text-warning">+7%</div>
              <h2 class="mb-2">213</h2>
              <p class="text-muted">Transactions</p>
              <div class="pull-in sparkline-fix">
                <div id="lineChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Top Products</div>
            </div>
            <div class="card-body pb-0">
              <div class="d-flex">
                <div class="avatar">
                  <img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">CSS</h6>
                  <small class="text-muted">Cascading Style Sheets</small>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <h3 class="text-info fw-bold">+$17</h3>
                </div>
              </div>
              <div class="separator-dashed"></div>
              <div class="d-flex">
                <div class="avatar">
                  <img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">J.CO Donuts</h6>
                  <small class="text-muted">The Best Donuts</small>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <h3 class="text-info fw-bold">+$300</h3>
                </div>
              </div>
              <div class="separator-dashed"></div>
              <div class="d-flex">
                <div class="avatar">
                  <img src="/static/assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="flex-1 pt-1 ml-2">
                  <h6 class="fw-bold mb-1">Ready Pro</h6>
                  <small class="text-muted">Bootstrap 4 Admin Dashboard</small>
                </div>
                <div class="d-flex ml-auto align-items-center">
                  <h3 class="text-info fw-bold">+$350</h3>
                </div>
              </div>
              <div class="separator-dashed"></div>
              <div class="pull-in">
                <canvas id="topProductsChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title fw-mediumbold">Suggested People</div>
              <div class="card-list">
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Jimmy Denis</div>
                    <div class="status">Graphic Designer</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Chad</div>
                    <div class="status">CEO Zeleaf</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Talha</div>
                    <div class="status">Front End Designer</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">John Doe</div>
                    <div class="status">Back End Developer</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Talha</div>
                    <div class="status">Front End Designer</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Jimmy Denis</div>
                    <div class="status">Graphic Designer</div>
                  </div>
                  <button class="btn btn-icon btn-primary btn-round btn-xs">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary bg-primary-gradient">
            <div class="card-body">
              <h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
              <h1 class="mb-4 fw-bold">17</h1>
              <h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
              <div id="activeUsersChart"></div>
              <h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
                <li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>

{% endblock content %}

{% block javascripts %}
  <!-- Chart JS -->
  <script src="/static/assets/js/plugin/chart.js/chart.min.js"></script>

  <!-- Datatables -->
  <script src="/static/assets/js/plugin/datatables/datatables.min.js"></script>

	<script src="/static/assets/js/demo.js"></script>
 
	<script>
    $('#add-row').DataTable({
      "columnDefs": [{ 'orderable': false, 'targets': 1 }],
      "order": [[0, 'desc']],
      "searching": false,   // Search Box will Be Disabled
      "info": false,         // Will show "1 to n of n entries" Text at bottom
      "lengthChange": false, // Will Disabled Record number per page
      "pageLength": 6
    });

    var label_tanggal = {{ tanggal|tojson|safe }};
    var actual_data = {{ actual|tojson|safe }};
    var predict_two_month = {{ predict|tojson|safe }};

    multipleLineChart = document.getElementById('multipleLineChart').getContext('2d');
    var myMultipleLineChart = new Chart(multipleLineChart, {
			type: 'line',
			data: {
				labels: label_tanggal,
				datasets: [{
					label: "Aktual",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: actual_data
				},{
					label: "Prediksi",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: predict_two_month
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				},
        scales: {
          yAxes: [{
              ticks: {
                  max: 1,
                  min: 0,
                  stepSize: 0.2
              }
          }]
        }
			}
		});
  </script>

{% endblock javascripts %}
